* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1280px;
}

.card {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageCard {
    background: url("src/assets/underthegrave.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 33%;
    height: 70%;
    margin: 0;
    border-top-left-radius: 10px;
}

.paraCard {
    width: 57%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid black;

    .titleCard {
        height: 50%;
    }

    .textCard {
        height: 50%;
    }
}

.infCard {
    width: 33%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }
}

.noticeCard {
    width: 57%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: end;
        font-size: 30px;
    }
}